:root{
    --color: rgb(205, 255, 206);
    --background: rgb(67, 34, 156);

    --body-copy: 2rem;
    --heading-copy: calc(var(--body-copy) * 2);

    --space-bar-1: 2rem;
    --space-bar-2: calc(var(--space-bar-1) * 1.5);
}

body{
    color: var(--color);
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--body-copy);
    block-size: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}

main{
    padding-inline: var(--space-bar-2);
    padding-block: var(--space-bar-1);
}

h1{
    font-size: var(--heading-copy);
}

ul{
    padding-inline: var(--space-bar-2);
    display: grid;
    gap: var(--space-bar-1);
    
}

hgroup, footer{
    color: var(--background);
    background-color: var(--color);
    padding-inline: var(--space-bar-2);
    padding-block: var(--space-bar-1);
}