@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color: rgb(44, 44, 44);
    --secondary-color: rgb(8, 12, 255);
    --background: #e5e8ff;
    --gradient:linear-gradient(0deg, #bcc8ff 0%, #e5e8ff 35%, #f2fdfd 100%);
    --background-opacity: rgba(0, 32, 135, 0.04);

    --sans: "Noto Sans", sans-serif;
    --mono: "Noto Sans Mono", monospace;

    --card-height:1rem;
    --card-width: auto;

    --body-copy: 1.3rem;
    --caption-copy: calc(var(--body-copy) * 0.6);
    --heading-copy: calc(var(--body-copy) * 1.5);

    --space-bar-0: 0.4rem;
    --space-bar-1: 0.6rem;
    --space-bar-2: calc(var(--space-bar-1) * 1.8);
    --space-bar-3: 4rem;
    --space-page-margin: 10rem;
}

body{
    color: var(--color);
    background-image: var(--gradient);
    background-attachment: fixed;
    font-family: var(--sans);
    font-size: var(--body-copy);
    font-optical-sizing: auto;
    font-weight: 100;
    display: grid;
    height: 100vh;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}

hgroup, main, footer{
    margin-inline: var(--space-page-margin);
    margin-block: var(--space-bar-2);
}

hgroup section, .contact{
    padding-inline: var(--space-bar-2);
    padding-block: var(--space-bar-1);
    border-radius: var(--space-page-margin);
}

hgroup{
    display: flex;
    justify-content:space-between;
    column-gap: var(--space-bar-1);
    align-items: center;
    font-size: var(--body-copy);
    position: sticky;
    inset-block-start: var(--space-bar-2);
    z-index: 1;
    background-blend-mode: difference;

    section:first-child{
        backdrop-filter: blur(2rem);
        overflow: hidden;
        background-color: var(--background-opacity);
    }
    section{
        display: flex;
        justify-content: space-between;
        width: 100%;
    
        ul{
            display: flex;
            column-gap: var(--space-bar-2); 
         }
        svg{
                width: 1rem;
                height: 1rem;
                fill: var(--color);
            }
    }


}

footer{
    font-size: var(--caption-copy);
    line-height: 140%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    p{
        padding-block: 0.2rem;
    }
    @media(width<500px){
        display: block;
    }
}

main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: var(--space-bar-3);

    #main-content{
        grid-column: 1 / span 2;
        display: flex;
        flex-direction: column;
        row-gap: var(--space-bar-2);

        h2{
            font-size: var(--heading-copy); 
            line-height: 140%;
        }
    }

   
    ul{
        grid-column: 3/ span 3;
    }
}

#project{
    display: grid;
    grid-template-columns: 1fr; 
    gap: var(--space-bar-2);

    li{
        border-block-end: solid var(--background-opacity);
        padding-block: var(--space-bar-1);
    }
    summary{
        font-size: var(--caption-copy);
        color: var(--color);
    }

    .card {
        position: relative;
        gap: var(--space-bar-3);
        display: flex;
        font-size: var(--body-copy);
        color: var(--color);

        img{
            border-radius: var(--space-bar-2);
            overflow: hidden;
            display: none;
        }
        
        .cardinfo{
            display: inline-flex;
            justify-content: space-between;
            align-items: baseline;
            width: 100%;
            border-radius: var(--space-page-margin);
            padding-block-end: var(--space-bar-2);
            
            .cardtitle{
                display: flex;
                gap: var(--space-bar-1);

                .arrow{
                    opacity: 0;
                }
            }

            .tags{
                font-family: var(--mono);
                display: flex;
                gap: 0.3rem;
                color: var(--color);

                tag{
                    text-transform: uppercase;
                    font-size: var(--caption-copy);
                    background-color: var(--background-opacity);
                    padding-inline: var(--space-bar-2);
                    padding-block: var(--space-bar-0);
                    border-radius: 0.4rem;
                }
            }
        } 

        .cardinfo:hover{
            p{
                font-style: italic;
                color:var(--secondary-color)
            }
            .arrow{
                opacity: 1;
            }
            .tags{
                color: var(--secondary-color);
                tag{
                    border-radius: 100rem;
                }
            
            }
        }


    }

}

em{
    font-style: italic;
    color: var(--secondary-color);
}

/* i want to have a cool hover efffect */
/* i found this gradient border example on codepen:https://codepen.io/gayane-gasparyan/pen/jOmaBQK */
/* i reversed the interaction so my border animated when on hover */

/* i learned that:
    this example uses pseudo element for the border.
    the border is an illusion made by offsetting the color block
    */
.iconcta:hover{
    fill: var(--secondary-color);
}
.cta{
    width: max-content;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: var(--body-copy);
    color:var(--background);
    background-color: var(--color); 
}

.cta:before, .cta:after {
    content: "";
    position: absolute;
    border-radius: var(--space-page-margin);
    background-image: linear-gradient(
    var(--rotate)
    , #0221bd, #ffffff 43%, #000000);
    z-index: -1;
    animation: none;
    opacity: 0;
}

.cta::before {
    width: 100.25%;
    height: 101%;
    top: -0.5%;
    left: -0.05%;
}

.cta::after {
    top: calc(var(--card-height) / 10);
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1.01);
    filter: blur(calc(var(--card-height) / 12));
    transition: opacity .5s;
}

.cta:hover {
    background-color: var(--secondary-color);
    transition: color 1s;
}
.cta:hover:before, .cta:hover:after {
    animation: spin 2.5s linear infinite;
    opacity: 1;
}


@media(width<1200px){
    :root{
         --space-page-margin: 4rem;
    }
}
@media(width<900px){
    :root{
        --space-page-margin: 2rem;
    }
    body{
        height: max-content;
    }
    main{
       grid-template-columns: repeat(1, 1fr);
       row-gap: var(--space-bar-3);
        #main-content, ul{
            grid-column: 1/ span 1;
        }
        h2{
            max-width: 40ch;
        }
    }
}

@media(width<600px){
    :root{
        --space-page-margin: 2rem;
    }
    #project{
        li{
            padding-block: var(--space-bar-2);
        }
        .card{
            .cardinfo{
                flex-direction: column;
                row-gap: var(--space-bar-1);
                align-items: left;
                padding:0;
                
                .cardtitle{
                    .arrow{
                    opacity: 1;
                }
            }
            
        }
        }
        
    } 
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

