:root{
    --color: rgb(205, 255, 206);
    --background: rgb(67, 34, 156);

    --body-copy: 2rem;
    --heading-copy: calc(var(--body-copy) * 2);

    --space-bar-1: 2rem;
    --space-bar-2: calc(var(--space-bar-1) * 1.5);
}

/* want a pattern */
/* found this pattern https://css-pattern.com/z-shape/*/
/* I learned that... */
body {
  --s: 106px; /* control the size*/
  --c1: var(--background);
  --c2: rgb(30, 12, 80);
  
  background:
    conic-gradient(from  30deg at 87.5% 75%,var(--c1)  60deg,var(--c2) 0 120deg,#0000 0) 0 calc(.2165*var(--s)),
    conic-gradient(from -90deg at 50%   25%,var(--c2)  60deg,var(--c1) 0 180deg,#0000 0),
    conic-gradient(from  90deg at 50%   75%,var(--c2) 120deg,var(--c1) 0 180deg,#0000 0),
    conic-gradient(from -30deg at 87.5% 50%,var(--c2) 120deg,var(--c1) 0 240deg,#0000 0),
    conic-gradient(from  90deg at 37.5% 50%,var(--c2) 120deg,var(--c1) 0 180deg,var(--c2) 0 240deg,var(--c1) 0);
  background-size: calc(5*var(--s)) calc(10*var(--s));
}

body{
    color: var(--color);
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--body-copy);
    block-size: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}

main{
    padding-inline: var(--space-bar-2);
    padding-block: var(--space-bar-1);
}

h1{
    font-size: var(--heading-copy);
}

ul{
    padding-inline: var(--space-bar-2);
    display: grid;
    gap: var(--space-bar-1);
    
}

hgroup, footer{
    color: var(--background);
    background-color: var(--color);
    padding-inline: var(--space-bar-2);
    padding-block: var(--space-bar-1);
}