@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root{
    --color: rgb(17, 17, 17);
    --link-color: #94cdff;
    --background: rgb(224, 224, 224);
    --grey: #414141;

    --background-opacity: rgba(0, 0, 0, 0.049);


    --card-height:1rem;
    --card-width: auto;

    --body-copy: 1.2rem;
    --heading-copy: calc(var(--body-copy) * 0.8);
    --caption-copy: calc(var(--body-copy) * 0.6);

    --space-bar-0: 0.8rem;
    --space-bar-1: 1rem;
    --space-bar-2: calc(var(--space-bar-1) * 1.8);
    --space-bar-3: 4rem;
    --space-page-margin: 10rem;
}

body{
    color: var(--color);
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--body-copy);
    /* block-size: 100vh; */
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}


@media(width<1000px){
    :root{
         --space-page-margin: 4rem;
    }
}
@media(width<800px){
    :root{
        --space-bar-0: 0.6rem;
        --space-bar-1: 0.8rem;
        --space-bar-2: calc(var(--space-bar-1) * 1.8);
        --space-bar-3: 2rem;
        --space-page-margin: 2rem;
    }
}

hgroup, main, footer{
    margin-inline: var(--space-page-margin);
    margin-block: var(--space-bar-2);
    backdrop-filter: blur(2rem);
}


section, footer{
    background-color: var(--background-opacity);
    padding-inline: var(--space-bar-1);
    padding-block: var(--space-bar-1);
    border-radius: var(--space-page-margin);
}

hgroup{
    display: flex;
    justify-content:space-between;
    column-gap: var(--space-bar-1);
    align-items: center;

    font-size: var(--body-copy);
    position: sticky;
    inset-block-start: var(--space-bar-2);
    z-index: 1;

    section{
        display: flex;
        justify-content: space-between;
        width: 100%;
    
        ul{
            display: flex;
            column-gap: var(--space-bar-1); 
        }
        svg{
                width: 1rem;
                height: 1rem;
                fill: var(--color);
            }
    }


}

footer{
    font-size: var(--caption-copy);
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: var(--color);
    p{
        padding-block: 0.2rem;
        opacity: 0.8;
    }
    p:nth-child(2){
        opacity: 0.6;
    }

    @media(width<1200px){
        display: block;
    }
}


#project{
    display: grid;
    gap: var(--space-bar-1);
    grid-template-columns: 1fr;   
    
    .card{
        padding-inline: var(--space-bar-2);
        padding-block: var(--space-bar-1);
    }
}



.card {
    width: auto;
    height: 30vh;
    position: relative;
    border-radius: var(--space-bar-3);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: var(--body-copy);
    color: var(--color);
    background-color: var(--background-opacity);
}



/* i want to have a cool hover efffect */
/* i found this gradient border example on codepen:https://codepen.io/gayane-gasparyan/pen/jOmaBQK */
/* i reversed the interaction so my border animated when on hover */

/* i learned that:
    this example uses pseudo element for the border.
    the border is an illusion made by offsetting the color block
    */
.secondarycta:hover{
    fill: var(--link-color);
}
.cta{
    width: auto;
    position: relative;
    border-radius: var(--space-page-margin);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: var(--body-copy);
    color: var(--color);
    background-color: var(--background-opacity);
}


.cta:before, .cta:after {
    content: "";
    position: absolute;
    border-radius: var(--space-page-margin);
    background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    z-index: -1;
    animation: none;
    opacity: 0;
}

.cta::before {
    width: 100.25%;
    height: 101%;
    top: -0.5%;
    left: -0.05%;
}

.cta::after {
    top: calc(var(--card-height) / 10);
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1.03);
    filter: blur(calc(var(--card-height) / 12));
    transition: opacity .5s;
}

.cta:hover {
    color: rgb(33, 0, 198);
    background-color: #e1e1e1;
    transition: color 1s;
}
.cta:hover:before, .cta:hover:after {
    animation: spin 2.5s linear infinite;
    opacity: 1;
}




@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

