@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root{
    --color: rgb(250, 250, 250);
    --background: rgb(13, 13, 13);
    --gradient: radial-gradient(circle, #000000, #0a0004, #0f000b, #110013, #0f001a, #14072b, #100d3e, #001253, #001679, #0018a0, #0814c7, #2d00ee);
    --background-opacity: rgba(255, 255, 255, 0.014);

    /* --_gradient-blend-mode: normal;
    --_gradient-blur: 0px; */

    --card-height: 40vh;
    --card-width: auto;

    --body-copy: 2rem;
    --heading-copy: calc(var(--body-copy) * 4);
    --caption-copy: calc(var(--body-copy) * 0.5);

    --space-bar-0: 0.8rem;
    --space-bar-1: 2rem;
    --space-bar-2: calc(var(--space-bar-1) * 1.5);
}

body{
    color: var(--color);
    background-color: var(--background);
    /* background-image: var(--gradient); */
/* 
    background: radial-gradient(at 91% 94%, #29000C 0px, transparent 50%), radial-gradient(at 22% 54%, #000A2E 0px, transparent 50%), radial-gradient(at 96% 54%, #000000 0px, transparent 50%), radial-gradient(at 51% 35%, #000278 0px, transparent 50%), radial-gradient(at 32% 58%, #000A2E 0px, transparent 50%) #000000;;
    mix-blend-mode: var(--_gradient-blend-mode);
    */
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--body-copy);
    block-size: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}

hgroup, main, footer{
    margin-inline: 15rem;
    margin-block: 2rem;
}

main{
    margin-block:2rem;
}

/* main{
    padding-inline: var(--space-bar-2);
    padding-block: var(--space-bar-1);
} */

h1{
    font-size: var(--headline-copy);
}
footer{
    font-size: var(--caption-copy);
}

ul{
    /* padding-inline: var(--space-bar-2); */
    display: grid;
    gap: var(--space-bar-1);
    
    li{
        padding-inline: var(--space-bar-2);
        padding-block: var(--space-bar-1);
    }
}

hgroup, footer{
    /* background-color: var(--background-opacity); */
    padding-inline: var(--space-bar-2);
    padding-block: var(--space-bar-1);
    border-radius: 100rem;
    
}




/* i want to have a cool hover efffect */
/* i found this gradient border example on codepen:https://codepen.io/gayane-gasparyan/pen/jOmaBQK */
/* i reversed the interaction so my border animated when on hover */

/* i learned that:
    this example uses pseudo element for the border.
    the border is an illusion made by offsetting the color block
    */


.card {
    width: var(--card-width);
    height: var(--card-height);

    position: relative;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: var(--body-copy);
    color: var(--color);
     background-color: var(--background-opacity);
}


.card:before, .card:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    z-index: -1;
    animation: none;
    opacity: 0;
}

.card::before {
    width: 100.6%;
    height: 103%;
    border-radius:1rem;
    top: -1%;
    left: -.3%;
}

.card::after {
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    transition: opacity .5s;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: spin 2.5s linear infinite;
  opacity: 1;
}


@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

