:root{
    --color: rgb(250, 250, 250);
    --background: rgb(13, 13, 13);
    --gradient: radial-gradient(circle, #000000, #0a0004, #0f000b, #110013, #0f001a, #14072b, #100d3e, #001253, #001679, #0018a0, #0814c7, #2d00ee);
    --background-opacity: rgba(255, 255, 255, 0.014);

    --_gradient-blend-mode: normal;
    --_gradient-blur: 0px;

    --body-copy: 2rem;
    --heading-copy: calc(var(--body-copy) * 4);
    --caption-copy: calc(var(--body-copy) * 0.5);

    --space-bar-0: 0.8rem;
    --space-bar-1: 2rem;
    --space-bar-2: calc(var(--space-bar-1) * 1.5);
}

body{
    color: var(--color);
    /* background-color: var(--background); */
    background-image: var(--gradient);
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--body-copy);
    block-size: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}

hgroup, main, footer{
    margin-inline: 15rem;
    margin-block: 2rem;
}

main{
    margin-block:2rem;
}

/* main{
    padding-inline: var(--space-bar-2);
    padding-block: var(--space-bar-1);
} */

h1{
    font-size: var(--headline-copy);
}
footer{
    font-size: var(--caption-copy);
}

ul{
    /* padding-inline: var(--space-bar-2); */
    display: grid;
    gap: var(--space-bar-1);
    
    li{
        background-color: var(--background-opacity);
        border-radius: 100rem;
        padding-inline: var(--space-bar-2);
        padding-block: var(--space-bar-1);
    }
}

hgroup, footer{
    /* background-color: var(--background-opacity); */
    padding-inline: var(--space-bar-2);
    padding-block: var(--space-bar-1);
    border-radius: 100rem;
    
}