@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

:root{
    --color: rgb(44, 44, 44);
    --secondary-color: rgb(129, 129, 129);
    --background: rgb(244, 244, 242);

    --background-opacity: rgba(0, 0, 0, 0.06);

    --card-height:1rem;
    --card-width: auto;

    --body-copy: 1rem;
    --caption-copy: calc(var(--body-copy) * 0.8);

    --space-bar-0: 0.4rem;
    --space-bar-1: 0.6rem;
    --space-bar-2: calc(var(--space-bar-1) * 1.8);
    --space-bar-3: 4rem;
    --space-page-margin: 10rem;
}

body{
    color: var(--color);
    background-color: var(--background);
    font-family: "Noto Sans Mono", monospace;
    font-size: var(--body-copy);
    font-optical-sizing: auto;
    font-weight: 100;
    text-transform: uppercase;
     font-variation-settings:
    "wdth" 75;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-items: center;
}


@media(width<1200px){
    :root{
        --body-copy:0.8rem;
         --space-page-margin: 4rem;
    }
}
@media(width<800px){
    :root{
        /* --space-bar-0: 0.6rem;
        --space-bar-1: 0.8rem;
        --space-bar-2: calc(var(--space-bar-1) * 1.8);
        --space-bar-3: 2rem; */
        --space-page-margin: 2rem;
    }
}

hgroup, main, footer{
    margin-inline: var(--space-page-margin);
    margin-block: var(--space-bar-2);
}


hgroup section, footer, hgroup .cta{
    background-color: var(--background-opacity);
    padding-inline: var(--space-bar-2);
    padding-block: var(--space-bar-1);
    border-radius: var(--space-page-margin);
}

.cardinfo{
    background-color: var(--background-opacity);
    border-radius: var(--space-page-margin);
    padding: var(--space-bar-0);
}

hgroup{
    display: flex;
    justify-content:space-between;
    column-gap: var(--space-bar-1);
    align-items: center;
    font-size: var(--body-copy);
    position: sticky;
    inset-block-start: var(--space-bar-2);
    z-index: 1;
    background-blend-mode: difference;

    section:first-child{
        backdrop-filter: blur(2rem);
        overflow: hidden;
    }
    section{
        display: flex;
        justify-content: space-between;
        width: 100%;
    
        ul{
            display: flex;
            column-gap: var(--space-bar-2); 
         }
        svg{
                width: 1rem;
                height: 1rem;
                fill: var(--color);
            }
    }


}

footer{
    font-size: var(--caption-copy);
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: var(--secondary-color);
    p{
        padding-block: 0.2rem;
    }
    @media(width<1200px){
        display: block;
    }
}


#project{
    display: grid;
    gap: var(--space-bar-2);
    grid-template-columns: repeat(8, 1fr); 

    li{
        @media(width<600px){
            grid-column: 1 /span 8;
            }
    }
}
.card {
    
    position: relative;
    border-radius: var(--space-bar-3);
    align-items: left;
    gap: var(--space-bar-1);
    display: flex;
    flex-direction: column;
    font-size: var(--body-copy);
    color: var(--color);
    /* background-color: var(--background-opacity); */

    img{
        border-radius: var(--space-bar-2);
        overflow: hidden;
    }
    
    .cardinfo{
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        .cardtitle{
            display: flex;
            gap: var(--space-bar-1);
            
            a{
                padding-inline-start: var(--space-bar-2);
                text-align: left;
            }
            p{
                opacity: 0;
            }
        }

        .tags{
            display: flex;
            justify-content: space-between;
            gap: 0.2rem;
            tag{
                text-transform: uppercase;
                font-size: var(--caption-copy);
                background-color: var(--background-opacity);
                padding-inline: var(--space-bar-2);
                padding-block: var(--space-bar-0);
                border-radius: var(--space-page-margin);
            }
        }
    } 
    
    .cardinfo:hover p{
            opacity: 1;
            color: var(--color);
        }
    .cta{
        width: 100%;
    }

}



#binding{
    grid-column: 1 /span 3;
    grid-row: 1;
}
#spread{
    grid-column: 5 /span 4;
    grid-row: 2;
}
#manuscript{
    grid-column: 1 /span 3;
    grid-row: 3;
}
#links{
    grid-column: 4 /span 5;
    grid-row: 4;

}
#functions{
    grid-column: 1 /span 3;
    grid-row: 5;
}



/* i want to have a cool hover efffect */
/* i found this gradient border example on codepen:https://codepen.io/gayane-gasparyan/pen/jOmaBQK */
/* i reversed the interaction so my border animated when on hover */

/* i learned that:
    this example uses pseudo element for the border.
    the border is an illusion made by offsetting the color block
    */
.secondarycta:hover{
    fill: var(--link-color);
}
.cta{
    width: max-content;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: var(--body-copy);
    color: var(--color);
    
}


.cta:before, .cta:after {
    content: "";
    position: absolute;
    border-radius: var(--space-page-margin);
    background-image: linear-gradient(
    var(--rotate)
    , #ffffff, #ffffff 43%, #d5d5d5);
    z-index: -1;
    animation: none;
    opacity: 0;
}

.cta::before {
    width: 100.25%;
    height: 101%;
    top: -0.5%;
    left: -0.05%;
}

.cta::after {
    top: calc(var(--card-height) / 10);
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(1.01);
    filter: blur(calc(var(--card-height) / 12));
    transition: opacity .5s;
}

.cta:hover {
    color: var(--link-color);
    background-color: #ffffff;
    transition: color 1s;
}
.cta:hover:before, .cta:hover:after {
    animation: spin 2.5s linear infinite;
    opacity: 1;
}




@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

